<!DOCTYPE html>
<html ng-app="bridgeitApp">
<head>
    <title>websocket client</title>
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript">
        var Bag = localStorage;
    </script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
</head>
<body>
    <div ng-controller="areaController" ng-switch="model.area" ng-cloak>
        <div ng-switch-default>
            <h3>Великое ничто!</h3>
            <div>
                Всё начинается с великого ничто, клиент обращается к серверу и пытается понять где он.
                <br />
                Для этого нужна сессия, если сессии нет, то всё понятно, нужно аутентифицироваться, но если она есть и протухла?
                <br />
                Да не важно, в любом случае первым запросом идёт присоединение к серверу и передача идентификатора сессии. И получение его же.
            </div>
        </div>

        <div ng-switch-when="welcome" ng-controller="welcomeAreaController">
            <div ng-show="!model.errorMessage">
                <div>Ты кто такой?</div>
                <input type="text" ng-model="model.userName" />
                <input type="submit" value="это я" ng-click="model.onLogin()">
            </div>
            <div ng-show="model.errorMessage">
                <span>{{model.errorMessage}}</span>
                <button ng-click="model.onCloseErrorMessage()">я исправлюсь...</button>
            </div>
        </div>

        <div ng-switch-when="rooms" ng-controller="roomsAreaController">
            <div class="window" ng-show="viewModel.mode == 'roomList'">
                <form ng-show="model.isPossibleCreate()" id="new_game">
                    <button ng-click="showCreateRoom()">Создать</button>
                </form>
                <form ng-repeat="room in model.rooms | orderBy:['-myGame','playerId']" class="plate">
                    <span class="name">{{room.name}}</span>
                    <span class="field_size">{{room.fieldSize}}x{{room.fieldSize}}</span>
                    <span class="time">{{room.time}}с</span>
                    <span class="more_time">{{room.moreTime}}м</span>
                    <button ng-show="room.myGame" ng-click="removeMyGame()">Удалить</button>
                    <button ng-hide="room.myGame" ng-click="playGame($index)" >Играть</button>
                </form>
            </div>
            <div class="window game_creation" ng-show="viewModel.mode == 'createRoom'">
                <form class="plate">
                    <span class="name">Моя игра</span>
                    <span>Размер поля</span>
                    <select ng-model="viewModel.roomSettings.fieldSize">
                        <option value="7">7х7</option>
                        <option value="10">10х10</option>
                    </select>
                    <span>Время на ход</span>
                    <select ng-model="viewModel.roomSettings.time">
                        <option value="15">15с</option>
                        <option value="20">20с</option>
                    </select>
                    <span>Дополнительное время</span>
                    <select ng-model="viewModel.roomSettings.moreTime">
                        <option value="3">3м</option>
                        <option value="5"> 5м</option>
                    </select>

                    <span></span>
                    <button ng-click="createNewGame()">Cоздать игру</button>
                    <button ng-click="leaveNewGame()">Не создавать</button>
                </form>
            </div>
        </div>
        <div ng-switch-when="bridgeit" ng-controller="bridgeitAreaController">
            <div>Игра №{{model.settings.bridgeitId}}</div>
            <div>{{model.settings.ownerId}} vs {{model.settings.opponentId}}</div>
            <div>phase {{model.state.phase}} timeout {{model.state.timeout}}</div>
            <bridgeit-field field="model.state.field" width="800" height="800" />
        </div>
    </div>



    <script type="text/javascript">
        var __app = angular.module('bridgeitApp', []);

        __app.controller('areaController', ['$scope', 'socketConnection', 'welcomeStateService', 'defaultStateService', 'roomsStateService', 'bridgeitStateService',
        function ($scope, socketConnection, welcomeStateService, defaultStateService, roomsStateService, bridgeitStateService) {

            console.log('areaController created');

            //Текущая локация, сообщения из других локаций игнорируются
            var __currentState = defaultStateService;

            var __states = {};
            __states[defaultStateService.area] = defaultStateService;
            __states[welcomeStateService.area] = welcomeStateService;
            __states[roomsStateService.area] = roomsStateService;
            __states[bridgeitStateService.area] = bridgeitStateService;

            var systemRoute = function (data) {
                if (data.type === "setSessionId")
                    Bag.setItem("sessionId", data.value);

                if (data.type === 'setPlayerId') 
                    Bag.setItem('playerId', data.value);

                if (data.type === "logout") {
                    __currentState.leave();
                    __currentState = __states[defaultStateService.area];
                    __currentState.enter();
                }

                if (data.type === "changeArea") {
                    __currentState.leave();
                    __currentState = __states[data.value];
                    $scope.model.area = __currentState.area;
                    __currentState.enter();
                }
            }

            socketConnection.handler = function(data)
            {
                if (data.area === 'system')
                    systemRoute(data);
                else if (data.area === __currentState.area)
                    __currentState.route(data);
            }


            $scope.model = { area: __currentState.area };

            socketConnection.open({ area: "system", type: "join", value: Bag.getItem('sessionId') });
        }]);

        __app.controller('welcomeAreaController', ['$scope', 'welcomeStateService', function ($scope, welcomeStateService) {
            console.log('welcomeAreaController created');

            var __model = welcomeStateService.model;
            
            __model.onLogin = function () {
                __model.sendLogin();
            };
            __model.onCloseErrorMessage = function () {
                __model.errorMessage = null;
            };

            $scope.model = __model;
        }]);

        __app.controller('roomsAreaController', ['$scope', 'roomsStateService', function ($scope, roomsStateService) {
            console.log('roomsAreaController created');

            $scope.model = roomsStateService.model;

            $scope.viewModel= {};
            $scope.viewModel.mode = 'roomList';
            $scope.viewModel.roomSettings = {
                fieldSize: 10,
                time: 15,
                moreTime: 3
            };

            $scope.showCreateRoom = function () {
                $scope.viewModel.mode = 'createRoom';
            };
            $scope.createNewGame = function () {
                $scope.viewModel.mode = 'roomList';
                $scope.model.createNewGame($scope.viewModel.roomSettings);
            };
            $scope.leaveNewGame = function () {
                $scope.viewModel.mode = 'roomList';
            };
            $scope.removeMyGame = function () {
                $scope.model.removeMyGame();
            };

            $scope.playGame = function (index) {
                $scope.model.playGame($scope.model.rooms[index]);
            };
        }]);

        __app.service('socketConnection', ['$rootScope', function ($rootScope) {
            console.log('socketConnection created');

            var that = this;

            this.handler = null;

            this.send = function(data) {
                if (that.__ws != null)
                    that.__ws.send(JSON.stringify(data));
            };

            this.onMessage = function (evt) {
                console.log( evt.data );
                if (that.handler !== null) {
                    $rootScope.$apply(function() {
                        that.handler(JSON.parse(evt.data));
                    });
                }
            };

            this.open = function (data) {
                that.__ws = new WebSocket('ws://localhost:8181/');
                console.log('.. connection started');

                that.__ws.onopen = function () {
                    console.log('.. connection open');
                    that.send(data);
                };
                that.__ws.onclose = function () { console.log('.. connection closed'); }; //И тут тоже больше ничего полезного
                that.__ws.onmessage = that.onMessage;
            };


        }]);

        __app.service('welcomeStateService', ['socketConnection', function (socketConnection) {
            console.log('welcomeStateService created');
            var me = this;

            this.model = {
                errorMessage: null,
                userName: null
            };

            this.model.sendLogin = function() {
                socketConnection.send({ area: "welcome", type: "login", sessionId: Bag.getItem("sessionId"), value: me.model.userName });
            };

            this.area = 'welcome';
            this.route = function (data) {
                console.log(data);
                if (data.type === 'showError') {
                    me.model.errorMessage = data.value;
                }
            };
            this.leave = function () { };
            this.enter = function () { };
        }]);

        __app.service('defaultStateService', ['socketConnection', function (socketConnection) {
            console.log('defaultStateService created');

            this.area = 'default';
            this.route = function (data) {
                console.log(data);
            };
            this.leave = function () { };
            this.enter = function () { };
        }]);


        __app.service('roomsStateService', ['socketConnection', function (socketConnection) {
            console.log('roomsStateService created');

            var me = this;
            this.area = 'rooms';
            this.model = {};
            this.getPlayerId = function() {
                return Bag.getItem('playerId');
            };
            this.model.rooms = [];
            this.model.isPossibleCreate = function() {
                var __playerId = Bag.getItem('playerId');
                for (var __prop in me.model.rooms)
                    if (me.model.rooms.hasOwnProperty(__prop) && me.model.rooms[__prop].playerId == __playerId)
                        return false;

                return true;
            };
            this.model.createNewGame = function(roomSettings) {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'createRoom', fieldSize: roomSettings.fieldSize });
            };
            this.model.removeMyGame = function() {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'removeRoom', value: me.model.currentPlayerId });
            };

            this.model.playGame = function(game) {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'joinToRoom', value: game.playerId });
            };

            this.route = function (data) {
                if(data.type === 'updateRoomList')
                {
                    var __playerId = me.getPlayerId();
                    var __settings = data.settings;
                    for (var __prop in __settings) {
                        if (__settings.hasOwnProperty(__prop)) {
                            var __property = __settings[__prop];
                            
                            for(var i = me.model.rooms.length; i--;) {
                                if(me.model.rooms[i].playerId == __prop) {
                                    me.model.rooms.splice(i, 1);
                                }
                            }

                            if (__property)
                                me.model.rooms.push({
                                    name: __property.name,
                                    fieldSize: __property.fieldSize,
                                    playerId: __property.id,
                                    myGame: __property.id == __playerId
                                });
                        }
                    }
                }
            };
            this.leave = function () { };
            this.enter = function() {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'getAllRooms' });
            };
        }]);

        __app.service('bridgeitStateService', ['socketConnection', '$interval', function (socketConnection, $interval) {
            console.log('bridgeitStateService created');

            var me = this;
            this.area = 'bridgeit';
            this.model = {};
            
            this.route = function (data) {
                if (data.type === 'setRoomSettings') {
                    if (me.model.state)
                        console.log(me.model.state.timeout);

                    me.model.settings = data.settings;
                    me.model.state = data.state;
                }
                if (data.type === 'setRoomState') {
                    if (me.model.state)
                        console.log(me.model.state.timeout)

                    me.model.state = data.state;
                }
            };
            this.leave = function () { };
            this.enter = function () {
                socketConnection.send({ area: "bridgeit", type: "getRoomState", sessionId: Bag.getItem("sessionId") });
                var startTime = new Date().getTime();
                $interval(function () {
                    var nowTime = new Date().getTime();
                    if (me.model.state)
                        me.model.state.timeout -= (nowTime - startTime);

                    startTime = nowTime;
                }, 100);
            };
        }]);

        __app.controller('bridgeitAreaController', ['$scope', 'bridgeitStateService', function ($scope, bridgeitStateService) {
            console.log('bridgeitAreaController created');

            $scope.model = bridgeitStateService.model;
        }]);

        __app.directive('bridgeitField', function () {
            return {
                restrict: 'E',
                template: '<canvas width="{{width}}" height="{{height}}">Браузер не может в канвас</canvas>',
                replace: true,
                scope: {
                    field: '=',
                    width: '@',
                    height: '@',
                },
                // наблюдение и манипулирование DOM
                link: function($scope, element, attrs) {
                    var canvas = element[0];
                    var context = canvas.getContext('2d');

                    element.on('click', function(e) {
                        //var __rect = getOffsetRect(canvas);
                        //var xpos = e.clientX - __rect.left;
                        //var ypos = e.clientY - __rect.top;

                        //$scope.$apply(function() {
                        //    $scope.field[Math.floor(ypos / 50)][Math.floor(xpos / 50)] = 1;
                        //});

                    });

                    $scope.$watch('field', function (value) {
                        if (!$scope.field)
                            return;

                        context.fillStyle = 'white';
                        context.fillRect(0, 0, canvas.width, canvas.height);
                        context.fillRect(0, 0, canvas.width, canvas.height);

                        context.lineCap = 'round';
                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1) {
                                    continue;
                                }

                                if ($scope.field[y][x] == 0) {
                                    context.lineWidth = 4;
                                    context.strokeStyle = (y % 2 == 1) ? '#ccccff' : '#ffcccc';
                                    context.setLineDash([15, 8]);

                                    context.beginPath();
                                    context.moveTo((x + 0) * 50 + 8, (y + 1) * 50);
                                    context.lineTo((x + 2) * 50 - 8, (y + 1) * 50);
                                    context.stroke();

                                    context.strokeStyle = (y % 2 == 0) ? '#ccccff' : '#ffcccc';
                                    context.beginPath();
                                    context.moveTo((x + 1) * 50, (y + 0) * 50 + 8);
                                    context.lineTo((x + 1) * 50, (y + 2) * 50 - 8);
                                    context.stroke();
                                    continue;
                                }

                                context.lineWidth = 6;
                                context.strokeStyle = ($scope.field[y][x] == 1) ? '#ff0000' : '#0000ff';
                                context.setLineDash([]);

                                context.beginPath();
                                if ($scope.field[y][x] == 1 && y % 2 == 0 || $scope.field[y][x] == 2 && y % 2 == 1) {
                                    context.moveTo(x * 50, (y + 1) * 50);
                                    context.lineTo((x + 2) * 50, (y + 1) * 50);
                                }
                                else {
                                    context.moveTo((x + 1) * 50, (y + 0) * 50);
                                    context.lineTo((x + 1) * 50, (y + 2) * 50);
                                }
                                context.stroke();
                            }

                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1) {
                                    context.strokeStyle = (y % 2 == 0) ? '#ff0000' : '#0000ff';
                                    context.setLineDash([]);
                                    context.lineWidth = 6;
                                    context.beginPath();
                                    context.arc((x + 1) * 50, (y + 1) * 50, 2, 0, Math.PI * 2, true);
                                    context.stroke();

                                    continue;
                                }
                            }


                    }, true);
                },
            };
        });

        function getOffsetRect(elem) {
            //http://javascript.ru/ui/offset
            // (1)
            var box = elem.getBoundingClientRect();

            // (2)
            var body = document.body;
            var docElem = document.documentElement;

            // (3)
            var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop;
            var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft;

            // (4)
            var clientTop = docElem.clientTop || body.clientTop || 0;
            var clientLeft = docElem.clientLeft || body.clientLeft || 0;

            // (5)
            var top = box.top + scrollTop - clientTop;
            var left = box.left + scrollLeft - clientLeft;

            return { top: Math.round(top), left: Math.round(left) };
        }
    </script>
</body>
</html>
