<!DOCTYPE html>
<html ng-app="bridgeitApp">
<head>
    <title>websocket client</title>
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript">
        var Bag = localStorage;
    </script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
</head>
<body>
    <div class="content">
        <div ng-controller="areaController" ng-switch="model.area" ng-cloak>
            <div ng-switch-default>
                <h1>Bridgeit</h1>
                <div>
                    Всё начинается с великого ничто, клиент обращается к серверу и пытается понять где он.
                    <br />
                    Для этого нужна сессия, если сессии нет, то всё понятно, нужно аутентифицироваться, но если она есть и протухла?
                    <br />
                    Да не важно, в любом случае первым запросом идёт присоединение к серверу и передача идентификатора сессии. И получение его же.
                </div>
            </div>
            <div class="welcome-area" ng-switch-when="welcome" ng-controller="welcomeAreaController">
                <h1>Bridgeit</h1>
                <div class="welcome-dialog">
                    <div ng-show="!model.errorMessage">
                        <h2>Ваше имя</h2>
                        <input class="welcome-edit" type="text" ng-model="model.userName" />
                        <div class="welcome-button"><a class="linkbutton" href="#" ng-click="model.onLogin()">Играть</a></div>
                    </div>
                    <div ng-show="model.errorMessage">
                        <span>{{model.errorMessage}}</span>
                        <button ng-click="model.onCloseErrorMessage()">я исправлюсь...</button>
                    </div>
                </div>
            </div>
            <div class="rooms-area" ng-switch-when="rooms" ng-controller="roomsAreaController">
                <h1 class="left">Bridgeit</h1>
                <div class="logout">
                    <a class="right linkbutton">Выйти</a>
                    <span class="right">{{model.palyerName}}</span>
                </div>
                
                <div class="clear">
                    
                </div>
                <div class="rooms-content" ng-show="viewModel.mode == 'roomList'">
                    <div ng-show="model.isPossibleCreate()" id="new_game" class="rooms-newgame-button">
                        <a class="linkbutton" ng-click="showCreateRoom()">Создать</a>
                    </div>
                    <div ng-repeat="room in model.rooms | orderBy:['-myGame','playerId']" class="rooms-plate">
                        <span class="name">{{room.name}}</span>
                        <span class="field_size">{{room.fieldSize}}x{{room.fieldSize}}</span>
                        <span class="time">{{room.time}}с</span>
                        <span class="more_time">{{room.moreTime}}м</span>
                        <a class="linkbutton" ng-show="room.myGame" ng-click="removeMyGame()">Удалить</a>
                        <a class="linkbutton" ng-hide="room.myGame" ng-click="playGame($index)">Играть</a>
                    </div>
                </div>
                <div class="window game_creation" ng-show="viewModel.mode == 'createRoom'">
                    <form class="plate">
                        <span class="name">Моя игра</span>
                        <span>Размер поля</span>
                        <select ng-model="viewModel.roomSettings.fieldSize">
                            <option value="3">3х3</option>
                            <option value="10">10х10</option>
                        </select>
                        <span>Время на ход</span>
                        <select ng-model="viewModel.roomSettings.time">
                            <option value="15">15с</option>
                            <option value="20">20с</option>
                        </select>
                        <span>Дополнительное время</span>
                        <select ng-model="viewModel.roomSettings.moreTime">
                            <option value="3">3м</option>
                            <option value="5"> 5м</option>
                        </select>
                        <span></span>
                        <button ng-click="createNewGame()">Cоздать игру</button>
                        <button ng-click="leaveNewGame()">Не создавать</button>
                    </form>
                </div>
            </div>
            <div ng-switch-when="bridgeit" ng-controller="bridgeitAreaController">
                <h1>Bridgeit</h1>
                <div>Игра №{{model.settings.bridgeitId}}</div>
                <div>{{model.settings.ownerName}} vs {{model.settings.opponentName}}</div>
                <div>phase {{model.state.phase}} timeout {{model.state.timeout}}</div>
                <div ng-if="model.state.phase==='completed'">
                    {{model.getWinner()}}
                    <button ng-click="model.leaveGame()">Завершить игру</button>
                </div>
                <div class="bridegeit-field">
                    <bridgeit-field field="model.state.field" cell-click="model.onClick(y, x)" width="500" height="500" first-on-top="{{model.isOwner()}}" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var __app = angular.module('bridgeitApp', []);

        __app.controller('areaController', ['$scope', 'socketConnection', 'welcomeStateService', 'defaultStateService', 'roomsStateService', 'bridgeitStateService',
        function ($scope, socketConnection, welcomeStateService, defaultStateService, roomsStateService, bridgeitStateService) {

            console.log('areaController created');

            //Текущая локация, сообщения из других локаций игнорируются
            var __currentState = defaultStateService;

            var __states = {};
            __states[defaultStateService.area] = defaultStateService;
            __states[welcomeStateService.area] = welcomeStateService;
            __states[roomsStateService.area] = roomsStateService;
            __states[bridgeitStateService.area] = bridgeitStateService;

            var systemRoute = function (data) {
                if (data.type === "setSessionId")
                    Bag.setItem("sessionId", data.value);

                if (data.type === 'setPlayerId')
                    Bag.setItem('playerId', data.value);

                if (data.type === 'setPlayerName')
                    Bag.setItem('playerName', data.value);

                if (data.type === "logout") {
                    __currentState.leave();
                    __currentState = __states[defaultStateService.area];
                    __currentState.enter();
                }

                if (data.type === "changeArea") {
                    __currentState.leave();
                    __currentState = __states[data.value];
                    $scope.model.area = __currentState.area;
                    __currentState.enter();
                }
            }

            socketConnection.handler = function (data) {
                if (data.area === 'system')
                    systemRoute(data);
                else if (data.area === __currentState.area)
                    __currentState.route(data);
            }


            $scope.model = { area: __currentState.area };

            socketConnection.open({ area: "system", type: "join", value: Bag.getItem('sessionId') });
        }]);

        __app.controller('welcomeAreaController', ['$scope', 'welcomeStateService', function ($scope, welcomeStateService) {
            console.log('welcomeAreaController created');

            var __model = welcomeStateService.model;

            __model.onLogin = function () {
                __model.sendLogin();
            };
            __model.onCloseErrorMessage = function () {
                __model.errorMessage = null;
            };

            $scope.model = __model;
        }]);

        __app.controller('roomsAreaController', ['$scope', 'roomsStateService', function ($scope, roomsStateService) {
            console.log('roomsAreaController created');

            $scope.model = roomsStateService.model;

            $scope.viewModel = {};
            $scope.viewModel.mode = 'roomList';
            $scope.viewModel.roomSettings = {
                fieldSize: 10,
                time: 15,
                moreTime: 3
            };

            $scope.showCreateRoom = function () {
                $scope.viewModel.mode = 'createRoom';
            };
            $scope.createNewGame = function () {
                $scope.viewModel.mode = 'roomList';
                $scope.model.createNewGame($scope.viewModel.roomSettings);
            };
            $scope.leaveNewGame = function () {
                $scope.viewModel.mode = 'roomList';
            };
            $scope.removeMyGame = function () {
                $scope.model.removeMyGame();
            };

            $scope.playGame = function (index) {
                $scope.model.playGame($scope.model.rooms[index]);
            };
        }]);

        __app.service('socketConnection', ['$rootScope', function ($rootScope) {
            console.log('socketConnection created');

            var that = this;

            this.handler = null;

            this.send = function (data) {
                if (that.__ws != null)
                    that.__ws.send(JSON.stringify(data));
            };

            this.onMessage = function (evt) {
                console.log(evt.data);
                if (that.handler !== null) {
                    $rootScope.$apply(function () {
                        that.handler(JSON.parse(evt.data));
                    });
                }
            };

            this.open = function (data) {
                that.__ws = new WebSocket('ws://localhost:8181/');
                console.log('.. connection started');

                that.__ws.onopen = function () {
                    console.log('.. connection open');
                    that.send(data);
                };
                that.__ws.onclose = function () { console.log('.. connection closed'); }; //И тут тоже больше ничего полезного
                that.__ws.onmessage = that.onMessage;
            };


        }]);

        __app.service('welcomeStateService', ['socketConnection', function (socketConnection) {
            console.log('welcomeStateService created');
            var me = this;

            this.model = {
                errorMessage: null,
                userName: null
            };

            this.model.sendLogin = function () {
                socketConnection.send({ area: "welcome", type: "login", sessionId: Bag.getItem("sessionId"), value: me.model.userName });
            };

            this.area = 'welcome';
            this.route = function (data) {
                console.log(data);
                if (data.type === 'showError') {
                    me.model.errorMessage = data.value;
                }
            };
            this.leave = function () { };
            this.enter = function () { };
        }]);

        __app.service('defaultStateService', ['socketConnection', function (socketConnection) {
            console.log('defaultStateService created');

            this.area = 'default';
            this.route = function (data) {
                console.log(data);
            };
            this.leave = function () { };
            this.enter = function () { };
        }]);


        __app.service('roomsStateService', ['socketConnection', function (socketConnection) {
            console.log('roomsStateService created');

            var me = this;
            this.area = 'rooms';
            this.model = {};
            this.getPlayerId = function () {
                return Bag.getItem('playerId');
            };
            this.model.rooms = [];
            this.model.isPossibleCreate = function () {
                var __playerId = Bag.getItem('playerId');
                for (var __prop in me.model.rooms)
                    if (me.model.rooms.hasOwnProperty(__prop) && me.model.rooms[__prop].playerId == __playerId)
                        return false;

                return true;
            };
            this.model.createNewGame = function (roomSettings) {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'createRoom', fieldSize: roomSettings.fieldSize });
            };
            this.model.removeMyGame = function () {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'removeRoom', value: me.model.currentPlayerId });
            };

            this.model.playGame = function (game) {
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'joinToRoom', value: game.playerId });
            };

            this.route = function (data) {
                if (data.type === 'updateRoomList') {
                    var __playerId = me.getPlayerId();
                    var __settings = data.settings;
                    for (var __prop in __settings) {
                        if (__settings.hasOwnProperty(__prop)) {
                            var __property = __settings[__prop];

                            for (var i = me.model.rooms.length; i--;) {
                                if (me.model.rooms[i].playerId == __prop) {
                                    me.model.rooms.splice(i, 1);
                                }
                            }

                            if (__property)
                                me.model.rooms.push({
                                    name: __property.name,
                                    fieldSize: __property.fieldSize,
                                    playerId: __property.id,
                                    myGame: __property.id == __playerId
                                });
                        }
                    }
                }
            };
            this.leave = function () {
                me.model.rooms = [];
            };
            this.enter = function () {
                me.model.palyerName = Bag.getItem('playerName');
                socketConnection.send({ area: me.area, sessionId: Bag.getItem("sessionId"), type: 'getAllRooms' });
            };
        }]);

        __app.service('bridgeitStateService', ['socketConnection', '$interval', function (socketConnection, $interval) {
            console.log('bridgeitStateService created');

            var me = this;
            this.area = 'bridgeit';
            this.model = {};
            this.model.onClick = function (y, x) {
                var __playerId = Bag.getItem('playerId');
                if (!me.model.state || me.model.state.activeId != __playerId)
                    return;

                socketConnection.send({
                    area: me.area,
                    sessionId: Bag.getItem("sessionId"),
                    type: 'executeAction',
                    value: JSON.stringify({ x: x, y: y, stepNo: me.model.state.stepNo })
                });
            };

            this.model.getWinner = function () {
                if (!me.model.state)
                    return;

                if (me.model.state.activeId == me.model.settings.ownerId)
                    return me.model.settings.ownerName + " победил";

                if (me.model.state.activeId == me.model.settings.opponentId)
                    return me.model.settings.opponentName + " победил";

                return "Ничья!";
            };

            this.model.isOwner = function () {
                console.log('isOwner');
                var __playerId = Bag.getItem('playerId');
                if (me.model.settings)
                    return me.model.settings.ownerId == __playerId;

                return undefined;
            }

            this.model.leaveGame = function () {
                socketConnection.send({
                    area: me.area,
                    sessionId: Bag.getItem("sessionId"),
                    type: 'leaveGame'
                });
            }

            this.route = function (data) {
                if (data.type === 'setRoomSettings') {
                    me.model.settings = data.settings;
                    me.model.state = data.state;
                }
                if (data.type === 'setRoomState') {
                    me.model.state = data.state;
                }
            };
            this.leave = function () { };
            this.enter = function () {
                socketConnection.send({ area: "bridgeit", type: "getRoomState", sessionId: Bag.getItem("sessionId") });
                var startTime = new Date().getTime();
                $interval(function () {
                    var nowTime = new Date().getTime();
                    if (me.model.state)
                        me.model.state.timeout -= (nowTime - startTime);

                    startTime = nowTime;
                }, 1000);
            };
        }]);

        __app.controller('bridgeitAreaController', ['$scope', 'bridgeitStateService', function ($scope, bridgeitStateService) {
            console.log('bridgeitAreaController created');

            $scope.model = bridgeitStateService.model;
        }]);

        __app.directive('bridgeitField', function () {
            return {
                restrict: 'E',
                template: '<canvas width="{{width}}" height="{{height}}">Браузер не может в канвас</canvas>',
                replace: true,
                scope: {
                    field: '=',
                    cellClick: '&',
                    firstOnTop: '@',
                    width: '@',
                    height: '@',
                },
                // наблюдение и манипулирование DOM
                link: function ($scope, element, attrs) {
                    var canvas = element[0];
                    var context = canvas.getContext('2d');

                    element.on('click', function (e) {
                        var width = 500;
                        var height = 500;
                        var cellSize = 500 / 10 / 2;

                        var __rect = getOffsetRect(canvas);
                        var x = e.clientX - __rect.left;
                        var y = e.clientY - __rect.top;

                        var xx = Math.floor(x / (cellSize * 2));
                        var yy = Math.floor(y / (cellSize * 2));

                        var xxx = Math.floor((x - cellSize) / (cellSize * 2));
                        var yyy = Math.floor((y - cellSize) / (cellSize * 2));

                        var point;
                        var field = $scope.field;
                        if (Math.abs(xx * (cellSize * 2) + cellSize - x) + Math.abs(yy * (cellSize * 2) + cellSize - y) < cellSize)
                            if (xx >= 0 && yy >= 0 && xx <= field.length / 2 && yy <= field.length / 2)
                                if (field[2 * yy][2 * xx] == 0) {
                                    point = { x: 2 * xx, y: 2 * yy };
                                }

                        if (Math.abs(xxx * (cellSize * 2) + (cellSize * 2) - x) + Math.abs(yyy * (cellSize * 2) + (cellSize * 2) - y) < cellSize)
                            if (xxx >= 0 && yyy >= 0 && xxx <= field.length / 2 && yyy <= field.length / 2)
                                if (field[1 + 2 * yyy][1 + 2 * xxx] == 0) {
                                    point = { x: 1 + 2 * xxx, y: 1 + 2 * yyy };
                                }

                        if (point && $scope.cellClick) {
                            $scope.$apply(function () {
                                $scope.cellClick(point)
                            });
                        }

                    });

                    $scope.$watch('field', function (value) {
                        //debugger;
                        //console.info($scope.firstOnTop == 'undefined')//, $scope.firstOnTop == true, $scope.firstOnTop == false);
                        if (!$scope.field)// || !($scope.firstOnTop == true || $scope.firstOnTop == false))
                            return;

                        //Принимаем размер игрового поля как 500пх
                        var width = 500;
                        var height = 500;
                        var cellSize = 500 / 10 / 2;

                        context.fillStyle = 'white';
                        context.fillRect(0, 0, canvas.width, canvas.height);
                        context.fillRect(0, 0, canvas.width, canvas.height);

                        //Сетка на заднем плане
                        context.lineCap = 'round';
                        context.lineWidth = 2;
                        context.strokeStyle = '#ccf';//firstOnTop ? '#ccf' : '#fcc';
                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1 || $scope.field[y][x] != 0) {
                                    continue;
                                }

                                context.beginPath();
                                if (y % 2 == 1) {
                                    context.moveTo((x + 0) * cellSize + 0, (y + 1) * cellSize);
                                    context.lineTo((x + 2) * cellSize - 0, (y + 1) * cellSize);
                                }
                                else {
                                    context.moveTo((x + 1) * cellSize, (y + 0) * cellSize + 0);
                                    context.lineTo((x + 1) * cellSize, (y + 2) * cellSize - 0);
                                }
                                context.stroke();
                            }

                        //Сетка на переднем плане
                        context.strokeStyle = '#faa';
                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1 || $scope.field[y][x] != 0) {
                                    continue;
                                }

                                context.beginPath();
                                if (y % 2 == 0) {
                                    context.moveTo((x + 0) * cellSize + 0, (y + 1) * cellSize);
                                    context.lineTo((x + 2) * cellSize - 0, (y + 1) * cellSize);
                                }
                                else {
                                    context.moveTo((x + 1) * cellSize, (y + 0) * cellSize + 0);
                                    context.lineTo((x + 1) * cellSize, (y + 2) * cellSize - 0);
                                }
                                context.stroke();
                            }

                        //Ходы
                        context.lineWidth = 4;
                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1 || $scope.field[y][x] == 0) {
                                    continue;
                                }

                                context.strokeStyle = ($scope.field[y][x] == 1) ? '#f00' : '#00f';;
                                context.setLineDash([]);

                                context.beginPath();
                                if ($scope.field[y][x] == 1 && y % 2 == 0 || $scope.field[y][x] == 2 && y % 2 == 1) {
                                    context.moveTo(x * cellSize, (y + 1) * cellSize);
                                    context.lineTo((x + 2) * cellSize, (y + 1) * cellSize);
                                }
                                else {
                                    context.moveTo((x + 1) * cellSize, (y + 0) * cellSize);
                                    context.lineTo((x + 1) * cellSize, (y + 2) * cellSize);
                                }
                                context.stroke();
                            }

                        //Точки в узлах
                        return;
                        for (var x = 0; x < $scope.field.length; ++x)
                            for (var y = 0; y < $scope.field.length; ++y) {
                                if ((x + y) % 2 == 1) {
                                    context.strokeStyle = (y % 2 == 0) ? '#ff0000' : '#0000ff';
                                    context.setLineDash([]);
                                    context.lineWidth = 4;
                                    context.beginPath();
                                    context.arc((x + 1) * cellSize, (y + 1) * cellSize, 2, 0, Math.PI * 2, true);
                                    context.stroke();

                                    continue;
                                }
                            }


                    }, true);
                },
            };
        });

        function getOffsetRect(elem) {
            //http://javascript.ru/ui/offset
            // (1)
            var box = elem.getBoundingClientRect();

            // (2)
            var body = document.body;
            var docElem = document.documentElement;

            // (3)
            var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop;
            var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft;

            // (4)
            var clientTop = docElem.clientTop || body.clientTop || 0;
            var clientLeft = docElem.clientLeft || body.clientLeft || 0;

            // (5)
            var top = box.top + scrollTop - clientTop;
            var left = box.left + scrollLeft - clientLeft;

            return { top: Math.round(top), left: Math.round(left) };
        }
    </script>
</body>
</html>
